<!DOCTYPE html>
<html>
<head>
    <link href="./img/favicon.png" rel="shortcut icon"/>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport"/>
    <link href="./css/mobile.css" rel="stylesheet" type="text/css"/>
    <meta content="Launchpad by Anima" name="author">
    </meta>
</head>
<body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
<input id="anPageName" name="page" type="hidden" value="mobile"/>
<div class="mobile">
    <div class="header">
        <img anima-src="./img/mobile-rectangle.png" class="rectangle" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
        <img anima-src="./img/mobile-group@3x.png" class="group" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
        <div class="toydrive">
            Toy Drive
        </div>
    </div>
    <div class="connecttocare">
        CONNECT TO CARE
    </div>
    <div class="card">
        <img anima-src="./img/mobile-rectangle-1.png" class="rectangle" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
        <img anima-src="./img/mobile-rectangle-12@2x.png" class="rectangle1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
        <div class="rectangle2">
        </div>
        <div class="innercard">
            <img anima-src="./img/mobile-rectangle-3@2x.png" class="rectangle3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <div class="item1">
                Item #1
            </div>
            <img anima-src="./img/IMG1.png" class="rectangle11" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
        </div>
        <div class="innercard1">
            <img anima-src="./img/mobile-rectangle-3@2x.png" class="rectangle3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <div class="item2">
                Item #2
            </div>
            <img anima-src="./img/IMG2.png" class="rectangle11" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
        </div>
        <div class="innercard2">
            <img anima-src="./img/mobile-rectangle-3@2x.png" class="rectangle3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <div class="item3">
                Item #3
            </div>
            <img anima-src="./img/IMG3.png" class="rectangle11" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
        </div>
        <div class="innercard3">
            <img anima-src="./img/mobile-rectangle-3@2x.png" class="rectangle3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <div class="item4">
                Item #4
            </div>
            <img anima-src="./img/IMG4.png" class="rectangle11" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
        </div>
        <div class="mostneededitems">
            Most Needed Items
        </div>
    </div>
    <div class="card1">
        <img anima-src="./img/mobile-rectangle-7.png" class="rectangle" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
        <img anima-src="./img/mobile-rectangle-12@2x.png" class="rectangle1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
        <div class="rectangle2">
        </div>
        <div class="innercard">
            <img anima-src="./img/mobile-rectangle-3@2x.png" class="rectangle3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <div class="dropofftoysatone">
                Drop off toys at one<br />of the dropoff locations.
            </div>
            <img anima-src="./img/IMG5.png" class="rectangle11" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
        </div>
        <div class="innercard1">
            <img anima-src="./img/mobile-rectangle-3@2x.png" class="rectangle3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <div class="shipanitemfromam">
                Ship an item from<br />Amazon to our PO Box.
            </div>
            <img anima-src="./img/IMG6.png" class="rectangle11" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
        </div>
        <div class="howtodonatetoys">
            How To Donate Toys
        </div>
    </div>
    <div class="footer">
        <div class="rectangle">
        </div>
        <div class="a2512018connecttoca">
            © 2018 CONNECT TO CARE<br />contact@connect-tocare.org
        </div>
    </div>
</div>
<!-- Scripts -->
<script>
    anima_isHidden = function(e) {
        if (!(e instanceof HTMLElement)) return !1;
        if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
        return !1;
    };
    anima_loadAsyncSrcForTag = function(tag) {
        var elements = document.getElementsByTagName(tag);
        var toLoad = [];
        for (var i = 0; i < elements.length; i++) {
            var e = elements[i];
            var src = e.getAttribute("src");
            var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
            if (loaded) continue;
            var asyncSrc = e.getAttribute("anima-src");
            if (asyncSrc == undefined || asyncSrc.length == 0) continue;
            if (anima_isHidden(e)) continue;
            toLoad.push(e);
        }
        toLoad.sort(function(a, b) {
            return anima_getTop(a) - anima_getTop(b);
        });
        for (var i = 0; i < toLoad.length; i++) {
            var e = toLoad[i];
            var asyncSrc = e.getAttribute("anima-src");
            e.setAttribute("src", asyncSrc);
        }
    };
    anima_pauseHiddenVideos = function(tag) {
        var elements = document.getElementsByTagName("video");
        for (var i = 0; i < elements.length; i++) {
            var e = elements[i];
            var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
            var isHidden = anima_isHidden(e);
            if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                e.play();
            } else if (isPlaying && isHidden) {
                e.pause();
            }
        }
    };
    anima_loadAsyncSrc = function(tag) {
        anima_loadAsyncSrcForTag("img");
        anima_loadAsyncSrcForTag("iframe");
        anima_loadAsyncSrcForTag("video");
        anima_pauseHiddenVideos();
    };
    var anima_getTop = function(e) {
        var top = 0;
        do {
            top += e.offsetTop || 0;
            e = e.offsetParent;
        } while (e);
        return top;
    };
    anima_loadAsyncSrc();
    anima_old_onResize = window.onresize;
    anima_new_onResize = undefined;
    anima_updateOnResize = function() {
        if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
            anima_new_onResize = function(x) {
                if (anima_old_onResize != undefined) anima_old_onResize(x);
                anima_loadAsyncSrc();
            };
            window.onresize = anima_new_onResize;
            setTimeout(function() {
                anima_updateOnResize();
            }, 3000);
        }
    };
    anima_updateOnResize();
    setTimeout(function() {
        anima_loadAsyncSrc();
    }, 200);
</script>
<!-- End of Scripts -->
</body>
</html>
