

.hddesktop {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1281px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.hddesktop .header {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 161px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.hddesktop .header .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 161px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.hddesktop .header .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 48px;
  height              : 76px;
  width               : 597px;
  position            : absolute;
  margin              : 0;
  left                : 48px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.hddesktop .header .toydrive {
  background-color    : rgba(255,255,255,0.0);
  top                 : 64px;
  height              : auto;
  width               : 256px;
  position            : absolute;
  margin              : 0;
  left                : 680px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Futura-Medium", Helvetica, Arial, serif;
  font-size           : 48.5px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 43.0px;
}
.hddesktop .card {
  background-color    : rgba(255,255,255,0.0);
  width               : 1226px;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.hddesktop .card-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 214px;
  align-items         : center;
  height              : 414px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.hddesktop .card .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 414px;
  width               : 1226px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.hddesktop .card .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 64px;
  height              : 35px;
  width               : 1196px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.hddesktop .card .rectangle2 {
  background-color    : rgba(66, 117, 255, 1.0);
  top                 : 12px;
  height              : 78px;
  width               : 1192px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  border-radius       : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.hddesktop .card .innercards {
  background-color    : rgba(255,255,255,0.0);
  top                 : 84px;
  height              : 316px;
  width               : 1194px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.hddesktop .card .innercards .innercard {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 316px;
  width               : 321px;
  position            : absolute;
  margin              : 0;
  left                : 873px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.hddesktop .card .innercards .innercard .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 316px;
  width               : 321px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.hddesktop .card .innercards .innercard .item4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 206px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 122px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 21.0px;
  color               : rgba(70, 69, 69, 1.0);
  text-align          : center;
  line-height         : 29.0px;
}
.hddesktop .card .innercards .innercard .rectangle11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 60px;
  height              : 116px;
  width               : 116px;
  position            : absolute;
  margin              : 0;
  left                : 103px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.hddesktop .card .innercards .innercard1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 316px;
  width               : 321px;
  position            : absolute;
  margin              : 0;
  left                : 582px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.hddesktop .card .innercards .innercard1 .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 316px;
  width               : 321px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.hddesktop .card .innercards .innercard1 .item3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 206px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 122px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 21.0px;
  color               : rgba(70, 69, 69, 1.0);
  text-align          : center;
  line-height         : 29.0px;
}
.hddesktop .card .innercards .innercard1 .rectangle11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 60px;
  height              : 116px;
  width               : 116px;
  position            : absolute;
  margin              : 0;
  left                : 103px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.hddesktop .card .innercards .innercard2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 316px;
  width               : 321px;
  position            : absolute;
  margin              : 0;
  left                : 291px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.hddesktop .card .innercards .innercard2 .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 316px;
  width               : 321px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.hddesktop .card .innercards .innercard2 .item2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 206px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 122px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 21.0px;
  color               : rgba(70, 69, 69, 1.0);
  text-align          : center;
  line-height         : 29.0px;
}
.hddesktop .card .innercards .innercard2 .rectangle11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 60px;
  height              : 116px;
  width               : 116px;
  position            : absolute;
  margin              : 0;
  left                : 103px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.hddesktop .card .innercards .innercard3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 316px;
  width               : 321px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.hddesktop .card .innercards .innercard3 .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 316px;
  width               : 321px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.hddesktop .card .innercards .innercard3 .rectangle11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 60px;
  height              : 116px;
  width               : 116px;
  position            : absolute;
  margin              : 0;
  left                : 103px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.hddesktop .card .innercards .innercard3 .item1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 206px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 122px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 21.0px;
  color               : rgba(70, 69, 69, 1.0);
  text-align          : center;
  line-height         : 29.0px;
}
.hddesktop .card .mostneededitems {
  background-color    : rgba(255,255,255,0.0);
  top                 : 34px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 477px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 28.5px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 39.0px;
}
.hddesktop .card1 {
  background-color    : rgba(255,255,255,0.0);
  width               : 650px;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.hddesktop .card1-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 659px;
  align-items         : center;
  height              : 414px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.hddesktop .card1 .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 414px;
  width               : 650px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.hddesktop .card1 .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 64px;
  height              : 35px;
  width               : 620px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.hddesktop .card1 .rectangle2 {
  background-color    : rgba(66, 117, 255, 1.0);
  top                 : 12px;
  height              : 78px;
  width               : 616px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  border-radius       : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.hddesktop .card1 .howtodonatetoys {
  background-color    : rgba(255,255,255,0.0);
  top                 : 32px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 198px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 28.5px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 39.0px;
}
.hddesktop .card1 .innercard {
  background-color    : rgba(255,255,255,0.0);
  top                 : 85px;
  height              : 316px;
  width               : 321px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.hddesktop .card1 .innercard .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 316px;
  width               : 321px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.hddesktop .card1 .innercard .dropofftoysatone {
  background-color    : rgba(255,255,255,0.0);
  top                 : 206px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 40px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 21.0px;
  color               : rgba(70, 69, 69, 1.0);
  text-align          : center;
  line-height         : 29.0px;
}
.hddesktop .card1 .innercard .rectangle11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 59px;
  height              : 116px;
  width               : 116px;
  position            : absolute;
  margin              : 0;
  left                : 103px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.hddesktop .card1 .innercard1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 85px;
  height              : 316px;
  width               : 321px;
  position            : absolute;
  margin              : 0;
  left                : 308px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.hddesktop .card1 .innercard1 .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 316px;
  width               : 321px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.hddesktop .card1 .innercard1 .shipanitemfromam {
  background-color    : rgba(255,255,255,0.0);
  top                 : 206px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 44px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 21.0px;
  color               : rgba(70, 69, 69, 1.0);
  text-align          : center;
  line-height         : 29.0px;
}
.hddesktop .card1 .innercard1 .rectangle11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 59px;
  height              : 116px;
  width               : 116px;
  position            : absolute;
  margin              : 0;
  left                : 103px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.hddesktop .footer {
  background-color    : rgba(255,255,255,0.0);
  bottom              : 0px;
  height              : 165px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.hddesktop .footer .rectangle {
  background-color    : rgba(91, 91, 91, 1.0);
  bottom              : 0px;
  height              : 165px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.hddesktop .footer .a2512018connecttoca {
  background-color    : rgba(255,255,255,0.0);
  top                 : 44px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 124px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 28.5px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 39.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}