

.mobile {
  width               : 100%;
  min-width           : 329px;
  height              : 100vh;
  min-height          : 2134px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.mobile .header {
  background-color    : rgba(255,255,255,0.0);
  top                 : -6px;
  height              : 107px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mobile .header .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 107px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mobile .header .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : 37px;
  width               : 38px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mobile .header .toydrive {
  background-color    : rgba(255,255,255,0.0);
  top                 : 57px;
  height              : auto;
  width               : 89px;
  position            : absolute;
  margin              : 0;
  left                : 122px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Futura-Medium", Helvetica, Arial, serif;
  font-size           : 19.5px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 43.0px;
}
.mobile .connecttocare {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : auto;
  width               : 370px;
  position            : absolute;
  margin              : 0;
  left                : 64px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Futura-Bold", Helvetica, Arial, serif;
  font-size           : 18.5px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 43.0px;
}
.mobile .card {
  background-color    : rgba(255,255,255,0.0);
  top                 : 128px;
  height              : 1167px;
  width               : 314px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mobile .card .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 1167px;
  width               : 314px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mobile .card .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 64px;
  height              : 35px;
  width               : 284px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mobile .card .rectangle2 {
  background-color    : rgba(66, 117, 255, 1.0);
  top                 : 12px;
  height              : 78px;
  width               : 280px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  border-radius       : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mobile .card .innercard {
  background-color    : rgba(255,255,255,0.0);
  top                 : 83px;
  height              : 289px;
  width               : 293px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mobile .card .innercard .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 289px;
  width               : 293px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mobile .card .innercard .item1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 189px;
  height              : auto;
  width               : 67px;
  position            : absolute;
  margin              : 0;
  left                : 113px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(70, 69, 69, 1.0);
  text-align          : center;
  line-height         : 22.0px;
}
.mobile .card .innercard .rectangle11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 56px;
  height              : 104px;
  width               : 104px;
  position            : absolute;
  margin              : 0;
  left                : 95px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mobile .card .innercard1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 342px;
  height              : 289px;
  width               : 293px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mobile .card .innercard1 .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 289px;
  width               : 293px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mobile .card .innercard1 .item2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 189px;
  height              : auto;
  width               : 67px;
  position            : absolute;
  margin              : 0;
  left                : 113px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(70, 69, 69, 1.0);
  text-align          : center;
  line-height         : 22.0px;
}
.mobile .card .innercard1 .rectangle11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 56px;
  height              : 104px;
  width               : 104px;
  position            : absolute;
  margin              : 0;
  left                : 95px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mobile .card .innercard2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 601px;
  height              : 289px;
  width               : 293px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mobile .card .innercard2 .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 289px;
  width               : 293px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mobile .card .innercard2 .item3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 189px;
  height              : auto;
  width               : 67px;
  position            : absolute;
  margin              : 0;
  left                : 113px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(70, 69, 69, 1.0);
  text-align          : center;
  line-height         : 22.0px;
}
.mobile .card .innercard2 .rectangle11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 56px;
  height              : 104px;
  width               : 104px;
  position            : absolute;
  margin              : 0;
  left                : 95px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mobile .card .innercard3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 860px;
  height              : 289px;
  width               : 293px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mobile .card .innercard3 .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 289px;
  width               : 293px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mobile .card .innercard3 .item4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 189px;
  height              : auto;
  width               : 67px;
  position            : absolute;
  margin              : 0;
  left                : 113px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(70, 69, 69, 1.0);
  text-align          : center;
  line-height         : 22.0px;
}
.mobile .card .innercard3 .rectangle11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 56px;
  height              : 104px;
  width               : 104px;
  position            : absolute;
  margin              : 0;
  left                : 95px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mobile .card .mostneededitems {
  background-color    : rgba(255,255,255,0.0);
  top                 : 35px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 45px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 23.5px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 33.0px;
}
.mobile .card1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1300px;
  height              : 652px;
  width               : 314px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mobile .card1 .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 652px;
  width               : 314px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mobile .card1 .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 64px;
  height              : 35px;
  width               : 284px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mobile .card1 .rectangle2 {
  background-color    : rgba(66, 117, 255, 1.0);
  top                 : 12px;
  height              : 78px;
  width               : 280px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  border-radius       : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mobile .card1 .innercard {
  background-color    : rgba(255,255,255,0.0);
  top                 : 83px;
  height              : 289px;
  width               : 293px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mobile .card1 .innercard .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 289px;
  width               : 293px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mobile .card1 .innercard .dropofftoysatone {
  background-color    : rgba(255,255,255,0.0);
  top                 : 193px;
  height              : auto;
  width               : 226px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(70, 69, 69, 1.0);
  text-align          : center;
  line-height         : 22.0px;
}
.mobile .card1 .innercard .rectangle11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 56px;
  height              : 104px;
  width               : 104px;
  position            : absolute;
  margin              : 0;
  left                : 99px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mobile .card1 .innercard1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 342px;
  height              : 289px;
  width               : 293px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mobile .card1 .innercard1 .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 289px;
  width               : 293px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mobile .card1 .innercard1 .shipanitemfromam {
  background-color    : rgba(255,255,255,0.0);
  top                 : 189px;
  height              : auto;
  width               : 223px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(70, 69, 69, 1.0);
  text-align          : center;
  line-height         : 22.0px;
}
.mobile .card1 .innercard1 .rectangle11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 56px;
  height              : 104px;
  width               : 104px;
  position            : absolute;
  margin              : 0;
  left                : 95px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mobile .card1 .howtodonatetoys {
  background-color    : rgba(255,255,255,0.0);
  top                 : 35px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 23.5px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 33.0px;
}
.mobile .footer {
  background-color    : rgba(255,255,255,0.0);
  bottom              : 0px;
  height              : 165px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mobile .footer .rectangle {
  background-color    : rgba(91, 91, 91, 1.0);
  bottom              : 0px;
  height              : 165px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mobile .footer .a2512018connecttoca {
  background-color    : rgba(255,255,255,0.0);
  top                 : 56px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 40px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 18.5px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 26.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}